body {
    background: #0e3233;
    background: radial-gradient(circle, rgb(90, 124, 126) 0%, rgba(69, 97, 75, 0.94) 95%);
}

h1{
     background-color: #42d183b9;
        color: #131416;
        border:solid;
        border-radius: 20px;
        border-color: #584d4d;
        border-width: 15px;
        border-style: groove;
        padding: 20px;
        text-align: center;
    }
   
    *{
         padding: 1px;
         margin: 1px;
}
#header {
        margin: auto;
        width: 800px;
       
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #dfd0d0;
    color: #222324;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
}
.nav > li{ 
    float: left;
}
.nav li a:hover{
    background-color: #313030;
}
 p {
        font-size: 23px;
        color:rgb(15, 15, 15);
        text-align: justify;
}
