body {
    background: #22C1C3;
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(148, 127, 83, 0.94) 100%);
}
h1{
    background:rgb(78, 70, 236);
    background: linear-gradient(90deg, rgba(74, 68, 194, 0.88) 0%, rgb(43, 43, 94) 35%, rgb(165, 230, 243) 100%);
        border:solid;
        border-radius: 20px;
        border-color: #584d4d;
        border-width: 15px;
        border-style: groove;
        padding: 20px;
        text-align: center;
    }
   
    *{
         padding: 1px;
         margin: 1px;
}
#header {
        margin: auto;
        width: 750px;
       
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #947d7d;
    color: #3d1a1a;
    text-decoration: none;
    padding: 10px 5px;  
    display: block;
}
.nav > li{ 
    float: left;
}
.nav li a:hover{
    background-color: #696666;
}
 p {
        font-size: 22px;
        color:rgb(12, 11, 11);
        text-align: justify;
}
